
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

<table id="table">

</table>

<iframe src="" frameborder="0">VIDEO</iframe>
<button>GUARDAR FRAME</button>
<script>
 $.ajax({
     url: 'endpoint/process_image',
     type: 'POST',
     data: image
     success: function(data){
        for(i=0;i < data.length; i++){
            $('#table').append('<tr><td>'+ data[i].name +' </td></tr>')
        }
     }
 })
</script>